*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    border: 2px solid black;
    width: 450px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 150px;
}
h1{
    text-align: center;
    position: relative;
    top: 20px;
    font-weight: bold;
    color: tomato;
    text-decoration:underline;
    

}
.input{
    margin: 20px;
    position: relative;
    left: 80px;
    top: 30px;
}
#name{
    position: relative;
    left: 60px;
}
#image{
    position: relative;
    left: 115px;
}
#category{
    position: relative;
    left: 92px;
}
#life{
position: relative;
left: 51px;
}
#submit{
    position: relative;
    left: 170px;
    top: 40px;

}